.container {
    font-family: 'Quicksand', sans-serif;
}
ul {
    list-style-type: none;
}
.fr-view ul, .fr-view ul li {
    list-style-type: none;
    margin-left: 8px;
}
p {
    margin: 0 !important;
    padding: 0 !important;
}

.ash-link {
    text-decoration: none;
    color: black;
}
.sprout {
    height: 30px;
    width: 30px;
    margin: 0 5px;
    padding: 0;
}

.fr-view img.fr-dib {
    margin: 0 5px;
    display: block;
    float: none;
    vertical-align: top;
}
.started {
    display: flex;
    align-items: center;
}
.h5, .h6, h5, h6 {
    font-weight: 400;
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 0 !important;
}

.grid-container[_ngcontent-oko-c443] {
    min-height: 2rem;
    padding-bottom: 0;
    padding-top: 1rem;
}

.down-arrow {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.down-arrow-img {
    height: 40px;
    width: 40px;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

.btn-link {
    text-decoration: none;
    color: black;
}
.h-list {
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
    .carousel-item {
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("https://lh3.googleusercontent.com/dhUN0uvKGQd-PQ4hd3j4HAg9IHwtT--K-CN1CXR5T2_9lQjqlrOUjiZ8seyFPLJRHMsGthh3LujUzaNJXlcwxiIlgoG7XFYyNKYwVMVQx6k55cPUAHgRjBwuguD7YveAwtPD3Rgm=w2400") !important;
    }
    .ink-slide {
        background-size: contain;
        background-repeat: no-repeat;
        background-image: url("https://lh3.googleusercontent.com/dhUN0uvKGQd-PQ4hd3j4HAg9IHwtT--K-CN1CXR5T2_9lQjqlrOUjiZ8seyFPLJRHMsGthh3LujUzaNJXlcwxiIlgoG7XFYyNKYwVMVQx6k55cPUAHgRjBwuguD7YveAwtPD3Rgm=w2400") !important;
    }
    .slideshow-wrapper {
        height: 300px !important;
    }
  }